// Variables 
$white: #fff;
$color-primary-1: hsl(179, 62%, 43%);
$color-primary-2: hsl(71, 73%, 54%);

$color-neutral-1: hsl(204, 43%, 93%);
$color-neutral-2: hsl(218, 22%, 67%);

$font-family: 'Karla', sans-serif;

$body-copy: 16px;